@media only screen and (max-width:1980px) {
    /*For Desktop */
    .GMPlayArea {
        width:50%;
        float: left;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    .computer {
        width:65%;
    }

    .computer .line1 {
        display: flex;
    }

    .computer .line1 .details{
        display: flex;
        width: 70%;
    }
    .computer .line1 h2 {
        margin: 0px;
    }

    .computer .line2 {
        display: flex;
    }

    #computerTime {
        width: 15%;
    }


    #computerStatus {
        color: red;
    }

    .computerProgressBar{
        margin-top: 8px;
        width:29%;
    }
    #chessBoard{
        width : 65%;
        float: left;
    }
    
    .action {
        float: right;
        display: grid;
        width: 20%;
        margin-left: 5%;
        margin-right: 10%;
    }

    .action button {
        margin-top: 10%;
    }

    .player {
        width:65%;
    }
    .player .line2 {
        display: flex;
    }
    .player .line2 .details{
        display: flex;
        width:70%
    }
    #playerStatus {
        color: red;
    }
    .GMpieces {
        width: 80%;
        float: right;
        padding-right: 3%;
    }
    .GMpieces mat-icon {
        float: right;
        padding-left: 5px;
    }
   
    #playerTime {
        width: 15%;
    }
}
@media only screen and (max-width:1200px) {
/* For Mobile */
    .GMPlayArea {
        width:100%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .computer{
        width:100%;
    }

    #chessBoard {
        width: 100%;
        padding-left: 0.5%;
    }
    
    .player {
        width: 100%;
    }

    .player .line1 {
        width: 100%;
    }
    .player .line2 {
        width: 100%;
    }
    .player .line2 .details{
        width: 30%;
        float: left;
    }
    .action {
        width: 70%;
        float: right;
        display: inline-block;
        margin: 0%;
    }

    .action button {
        margin-left: 5%;
        margin-top:3%;
    }

    
}