<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" class="sideNavBar">
        <div>
            <img src="assets/images/avatar.png" alt="Avatar" class="avatar">
            <span class="userName">{{userId}}</span>
        </div>
        <div>
            <mat-accordion #accordion="matAccordion" [multi]="true">
                <mat-expansion-panel #mapanel="matExpansionPanel">
                    <mat-expansion-panel-header>
                        <b>Play</b>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/onlineDashboard" (click)="sidenav.toggle();">Online</a>
                        <a mat-list-item routerLink="/playWithComputer" (click)="sidenav.toggle();">Computer</a>
                        <a mat-list-item routerLink="/playWithFriend">Friends</a>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel #mapanel="matExpansionPanel">
                    <mat-expansion-panel-header>
                        <b>About Us</b>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/feedback">feedback</a>
                        <a mat-list-item routerLink="/logoff">logoff</a>
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="header">
            <button mat-icon-button color="accent" (click)="sidenav.toggle();accordion.openAll();" aria-label="Menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <h2 class="title">GM Chess</h2>
            <button mat-icon-button color="accent" id="logoutBtn" (click)="logoff();">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
