<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" class="sideNavBar">
        <div>
            <img src="assets/images/avatar.png" alt="Avatar" class="avatar">
            <span class="userName">Isaac Jefferson</span>
        </div>
        <div>
            <mat-nav-list>
                <!--<a mat-list-item href="playOnline">Play Online</a> -->
                <a mat-list-item href="playWithComputer">Play With Computer</a>
                <!--<a mat-list-item href="playWithFriend">Play With Friends</a>-->
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="header">
            <button mat-icon-button color="accent" (click)="sidenav.toggle()" aria-label="Menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <h2 class="title">GM Chess</h2>
        </div>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
